# Assessment Adesso April 2023

## Introduction
In this jupyter notebook I will explore the data that was provided by Adesso. The main goal of this assessment is to develop a predictive model capable of determining in advance whether a car will sustain damage.

### The dataset
The dataset contains different characteristics of cars. 

1. PSEUDO_VIN: Encrypted chassis number for identification of individual instances
2. TONDUR: A variant of an operating hours counter
3. EngSpDist_K{1,14}: Distribution of dwell time in 14 disjoint regions of the engine speed range; engine idling takes place in the range of class K1
4. AmbTempDist_K{1,10}: Distribution of residence time in 10 disjoint ranges of outdoor temperature; temperature increases from K1 to K10
5. KMSTAND: Mileage of the vehicle at the considered readout
6. AUSLESEDATUM: The date of the considered readout
7. REPARATURDATUM: Date of the executed repaid (if present, the vehicle has the label "DAMAGE").
8. TACHOMETER_IN_KM: Mileage at the time of the performed repair (if present, the vehicle has the label "DAMAGE").
9. LABEL: Determined class affiliation based on repair history; target variable for binary classification.

## 1. Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### 1.1 Import Dataset

In [5]:
data = pd.read_csv("./data/data.csv", sep='\t') 

data.head()

,PSEUDO_VIN,TONDUR,EngSpDist_K1,EngSpDist_K2,EngSpDist_K3,EngSpDist_K4,EngSpDist_K5,EngSpDist_K6,EngSpDist_K7,EngSpDist_K8,...,AmbTempDist_K6,AmbTempDist_K7,AmbTempDist_K8,AmbTempDist_K9,AmbTempDist_K10,KMSTAND,AUSLESEDATUM,REPARATURDATUM,TACHOMETER_IN_KM,LABEL
0,5247,1249456.1,239471.8,443507.3,230166.7,18955.4,3453.7,1631.0,748.4,373.2,...,317,416,155,0,0,35008,2014-06-03,NaN,NaN,KEIN_SCHADEN
1,5405,2221482.5,868673.2,862615.7,154180.3,12707.2,2885.7,951.6,466.9,255.2,...,478,479,167,1,0,14959,2015-08-10,NaN,NaN,KEIN_SCHADEN
2,1642,3433681.7,822744.4,1954545.1,366699.7,26077.9,1452.6,238.2,91.5,47.4,...,676,993,261,2,0,37685,2015-01-30,NaN,NaN,KEIN_SCHADEN
3,4784,615134.7,138935.2,209138.3,106259.6,10133.9,1111.9,230.7,81.5,49.9,...,169,295,112,2,0,7054,2015-04-02,NaN,NaN,KEIN_SCHADEN
4,3656,2141362.5,797644.6,729555.5,242742.9,13288.6,2374.5,815.7,341.1,175.1,...,358,750,229,2,1,19680,2015-11-23,NaN,NaN,KEIN_SCHADEN